doctype 5
html(lang="en")
  head
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    title Cozy Home - Sign in
    script(src='/jquery-1.8.2.js')
    script(src='/spin.min.js')
    script(src='/fade-text.js')
    script(src='/client.js')
    script(src='/login.js')
    link(rel='stylesheet', href='/bootstrap.css') 
    link(rel='stylesheet', href='/app.css') 
    link(rel='icon', type='image/x-icon', href='/favicon.png')
  body
    #content
       .proxy-form
          h1 
              | Welcome 
              span#username #{username}
              |  to your Cozy, <br />
              | please type your password to sign in:
            p
              input#password-input(type='password',
                                   placeholder='password')
              button#submit-btn Sign in

          .error-box.alert.alert-error
          .error-box.alert.alert-success
          p.additional-line
            a#forgot-password Did you forget your password ?
          p.loading &nbsp;
