extends base

block js
    script(src='/login.js')

block content
    .proxy-form
        h1 
            | Welcome 
            span#username #{username}, 
            br
            | please type your password to sign in:
        p.input-wrapper
            input#password-input(type='password',
                                 placeholder='your password')
        p
            button#submit-btn sign in

        .error-box.alert.alert-error
        .error-box.alert.alert-success
        p.additional-line
            a#forgot-password Did you forget your password ?
