extends base

block js
    script(src='/scripts/register.js')

block content
    .proxy-form
        h1 Welcome to your Cozy!
        h1 It's the first time you connect,
        h1 Before going further I need:
        p.input-wrapper
            input#email-input(type="text", placeholder="your email address")
        p.input-wrapper
            input#password-input(type="text", type="password",
               placeholder="the password you will use to sign in")
        p
          button#submit-btn send informations
        .alert-error &nbsp;

        .alert-success
            | Good, let's go to your homepage...
