extends base

block js
    script(src='/reset.js')

block content
    script
        key = "#{resetKey}"
    .proxy-form
        h1 Tell me your new password
        p.
           After a password reset, you must reconfigure your 
           confidential data like your mailbox or your bank account.
        p.input-wrapper
            input#password-input(type='text', type='password',
                                 placeholder='your new password')
        p
            button#submit-btn change password
        .error-box.alert.alert-error
        .error-box.alert.alert-success
