extends layouts/_base

block title
    title Cozy - Your Private Personal Cloud
    meta(name="description", content="Cozy is an app-based personal cloud you can host at home. It allows you to own and connect your data. It turns a low-cost piece of hardware like a Raspberry Pi 2 or an online VPS into a powerful app platform. It comes with common applications like a contacts manager, calendar, webmail and filebox.")


block content
    main(role='application')
      noscript
        section.popup
          header
            a(title='Cozy Website', href='https://cozy.io')
          .container
            h1 Sorry
            p.help Cozy needs JavaScript and cookies to work but it looks like you have disabled one of them.

block js
    script(src="/scripts/vendor.js")
    if env
        script.
            require.register('env', function(exports, require, module) {
              module.exports = !{JSON.stringify(env)}
            })
    script(src="/scripts/app.js", onload="require('initialize');")
