extends layouts/_base

block title
    title Cozy - Your Personal Cloud
    meta(name="description", content="Cozy is an app-based personal cloud you can host at home. It allows you to own and connect your data. It turns a low-cost piece of hardware like a Raspberry Pi 2 or an online VPS into a powerful app platform. It comes with common applications like a contacts manager, calendar, webmail and filebox."


block content
    main(role='application')

block js
    script
        if name
            | var username='#{name}';
    script(src="/scripts/vendor.js")
    script(src="/scripts/app.js", onload="require('initialize');")
