shadow()
    -moz-box-shadow: arguments
    -webkit-box-shadow: arguments
    box-shadow: arguments

text-shadow()
    -moz-text-shadow: arguments
    -webkit-text-shadow: arguments
    text-shadow: arguments

@font-face
    font-family: regulartext
    src: url('/signika-regular.ttf')

@font-face
    font-family: styled
    src: url('/maven-pro-light-200.otf')


highlightcolor = #cff
textcolor = #cad1d1
shadowcolor = #2b4244
buttoncolor = #CAD1D1 + 10%
yellowwhite = #fcf9f5
darkblue = #363a46 
darkred = #A66a66 
orange = #C60

html, body
    height: 100%
    width: 100%
    padding: 0
    margin: 0
    box-sizing: border-box

html, body, h1, p, input, div
    box-sizing: border-box

body
    background: yellowwhite 

#content
    padding: 20px
    padding-left: 60px 

a, a:hover
    color: textcolor
    cursor: pointer

h1
    font-size: 2.2em
    line-height: 1.3em
    color: darkblue
    font-family: styled
    font-weight: normal
    margin: 0

    span#username
        color: darkblue + 20%

h2
    margin-top: 0;
    font-size: 1em;
    text-transform: normal;
    font-variant: small-caps;
    color: #cff;
    -moz-text-shadow: 1px 1px #2b4244;
    -webkit-text-shadow: 1px 1px #2b4244;
    text-shadow: 1px 1px #2b4244;

#password-input
    margin-top: 10px

#email-input
    margin-top: 20px
    margin-bottom: 0px

.proxy-form
    padding-top: 20%
    //text-transform: uppercase

    button
        font-size: 1.1em
        border-radius: 0.4em
        padding: 0.6em 0.8em

    button#submit-btn
        margin-left 5px
        margin-bottom 9px
        display none
        background-color textcolor
        border-radius 0.4em
        border 0
        background: buttoncolor
        border: 1px solid buttoncolor - 20%
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.05)

    button#submit-btn:hover
        background: buttoncolor + 60%
        box-shadow: 0 0 8px highlightcolor

    button#submit-btn:active
        box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4) inset
        background: buttoncolor - 10%

    input
        font-family: styled
        font-size: 2.2em
        height: 1.3em
        padding: 0.2em
        border-radius: 0.4em
        width: 500px
        border: 0
        color: orange
        box-shadow: 0 0 0 0
        border: 1px solid white

    input:focus
        border: 1px solid orange
        box-shadow: 0 0 0 0

.alert
    width: 22em
    border: 0
    display: none

.alert-error
    font-family: styled
    font-size: 2em
    background: transparent

.alert-success
    font-family: styled
    font-size: 2em
    background: rgba(223, 240, 216, 0.8) + 80%
    background: transparent
    padding-left: 0

.additional-line
    margin-top: 1em

.loading
    width: 30px


#forgot-password
    display: none

#logo
    float: right
    margin: 60px

@media(max-width: 640px)

    body
        shadow: none 

    #content
        padding: 1em

    h1
        display: none
        padding: 0 1em

    .proxy-form
        padding-top: 1em
        padding-bottom: 1em
        
        button#submit-btn
            display: inline
            width: 80%
            margin-left: 0

        input
            width: 80%
