@font-face {
  font-family: regulartext;
  src: url("/signika-regular.ttf");
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  -moz-box-shadow: inset 0 0 100px #2b4244;
  -webkit-box-shadow: inset 0 0 100px #2b4244;
  box-shadow: inset 0 0 100px #2b4244;
  background: #545e5f;
}
a,
a:hover {
  color: #cad1d1;
  cursor: pointer;
}
h1 {
  margin: 0 0 1em 0;
  font-size: 1.8em;
  line-height: 1.6em;
  font-variant: small-caps;
  color: #cad1d1;
  -moz-text-shadow: 1px 1px #2b4244;
  -webkit-text-shadow: 1px 1px #2b4244;
  text-shadow: 1px 1px #2b4244;
}
h1 span#username {
  color: #cff;
}
h2 {
  margin-top: 0;
  font-size: 1em;
  text-transform: normal;
  font-variant: small-caps;
  color: #cff;
  -moz-text-shadow: 1px 1px #2b4244;
  -webkit-text-shadow: 1px 1px #2b4244;
  -moz-text-shadow: 1px 1px #2b4244;
  -webkit-text-shadow: 1px 1px #2b4244;
  text-shadow: 1px 1px #2b4244;
}
.proxy-form {
  padding-top: 20%;
}
.proxy-form button {
  font-size: 1.1em;
  border-radius: 0.4em;
  padding: 0.6em 0.8em;
}
.proxy-form button#submit-btn {
  margin-left: 5px;
  margin-bottom: 9px;
  display: none;
  background-color: #cad1d1;
  border-radius: 0.4em;
  border: 0;
  background: #cfd6d6;
  border: 1px solid #a2afaf;
  box-shadow: 0 1px 0 rgba(255,255,255,0.40) inset, 0 1px 2px rgba(0,0,0,0.05);
}
.proxy-form button#submit-btn:hover {
  background: #ecefef;
  box-shadow: 0 0 8px #cff;
}
.proxy-form button#submit-btn:active {
  box-shadow: 1px 3px 2px rgba(0,0,0,0.40) inset;
  background: #b8c3c3;
}
.proxy-form input {
  font-size: 1.5em;
  height: 1.6em;
  padding: 0.2em;
  border-radius: 0.4em;
  background-color: #cad1d1;
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.45) inset;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.45) inset;
  box-shadow: 0 2px 2px rgba(0,0,0,0.45) inset;
  width: 15em;
  border: 0;
}
.proxy-form input:focus {
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.75) inset, 0 0 17px rgba(82,168,236,0.90);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.75) inset, 0 0 17px rgba(82,168,236,0.90);
  box-shadow: 0 1px 1px rgba(0,0,0,0.75) inset, 0 0 17px rgba(82,168,236,0.90);
  background: #e2f8ff;
}
.alert {
  margin: auto;
  margin-top: 1em;
  padding: 1em;
  width: 22em;
  border: 0;
  display: none;
}
.alert-error {
  -moz-box-shadow: 0 0 6px rgba(100,60,60,0.85) inset;
  -webkit-box-shadow: 0 0 6px rgba(100,60,60,0.85) inset;
  box-shadow: 0 0 6px rgba(100,60,60,0.85) inset;
  background: rgba(242,222,222,0.80);
}
.alert-success {
  -moz-box-shadow: 0 0 6px rgba(60,100,60,0.85) inset;
  -webkit-box-shadow: 0 0 6px rgba(60,100,60,0.85) inset;
  box-shadow: 0 0 6px rgba(60,100,60,0.85) inset;
  background: rgba(223,240,216,0.80);
}
.additional-line {
  margin-top: 1em;
}
#forgot-password {
  display: none;
}
@media (max-width: 640px) {
  body {
    padding: 1em;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  h1 {
    padding: 0 1em;
  }
  .proxy-form {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .proxy-form button#submit-btn {
    display: inline;
    width: 80%;
    margin-left: 0;
  }
  .proxy-form input {
    width: 80%;
  }
}
