@font-face {
  font-family: regulartext;
  src: url("/signika-regular.ttf");
}
@font-face {
  font-family: styled;
  src: url("/maven-pro-light-200.otf");
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
h1,
p,
input,
div {
  box-sizing: border-box;
}
body {
  background: #fcf9f5;
}
#content {
  padding: 20px;
  padding-left: 60px;
}
a,
a:hover {
  color: #c60;
  cursor: pointer;
}
h1 {
  font-size: 2.2em;
  line-height: 1.3em;
  color: #363a46;
  font-family: styled;
  font-weight: normal;
  margin: 0;
}
h1 span#username {
  color: #585e72;
}
h2 {
  margin-top: 0;
  font-size: 1em;
  text-transform: normal;
  font-variant: small-caps;
  color: #cff;
  -moz-text-shadow: 1px 1px #2b4244;
  -webkit-text-shadow: 1px 1px #2b4244;
  -moz-text-shadow: 1px 1px #2b4244;
  -webkit-text-shadow: 1px 1px #2b4244;
  text-shadow: 1px 1px #2b4244;
}
#password-input {
  margin-top: 10px;
}
#email-input {
  margin-top: 20px;
  margin-bottom: 0px;
}
.proxy-form {
  padding-top: 20%;
}
.proxy-form button {
  font-size: 1.1em;
  border-radius: 0.4em;
  padding: 0.6em 0.8em;
}
.proxy-form button#submit-btn {
  margin-left: 5px;
  margin-bottom: 9px;
  display: none;
  background-color: #cad1d1;
  border-radius: 0.4em;
  border: 0;
  background: #cfd6d6;
  border: 1px solid #a2afaf;
  box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset, 0 1px 2px rgba(0,0,0,0.05);
}
.proxy-form button#submit-btn:hover {
  background: #ecefef;
  box-shadow: 0 0 8px #cff;
}
.proxy-form button#submit-btn:active {
  box-shadow: 1px 3px 2px rgba(0,0,0,0.4) inset;
  background: #b8c3c3;
}
.proxy-form input {
  font-family: styled;
  font-size: 2.2em;
  height: 1.3em;
  padding: 0.2em;
  border-radius: 0.4em;
  width: 500px;
  border: 0;
  color: #c60;
  box-shadow: 0 0 0 0;
  border: 1px solid #fff;
}
.proxy-form input:focus {
  border: 1px solid #c60;
  box-shadow: 0 0 0 0;
}
.alert {
  width: 22em;
  border: 0;
  display: none;
}
.alert-error {
  font-family: styled;
  font-size: 2em;
  background: transparent;
  padding-left: 0;
}
.alert-success {
  font-family: styled;
  font-size: 2em;
  background: rgba(249,252,247,0.8);
  background: transparent;
  padding-left: 0;
}
.additional-line {
  margin-top: 1em;
}
.loading {
  width: 30px;
}
#forgot-password {
  display: none;
}
#logo {
  float: right;
  margin: 60px;
}
@media (max-width: 640px) {
  body {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #content {
    padding: 1em;
  }
  h1 {
    display: none;
    padding: 0 1em;
  }
  .proxy-form {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .proxy-form button#submit-btn {
    display: inline;
    width: 80%;
    margin-left: 0;
  }
  .proxy-form input {
    width: 80%;
  }
  .proxy-form .loading {
    display: none;
  }
}
