@font-face {
  font-family: main;
  src: url("/signika-regular.ttf");
}
@font-face {
  font-family: styled;
  src: url("/maven-pro-light-200.otf");
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
h1,
p,
input,
div {
  box-sizing: border-box;
}
body {
  background: #fcf9f5;
}
a,
a:hover {
  color: #c60;
  cursor: pointer;
}
h1 {
  font-size: 2.2em;
  line-height: 1.3em;
  font-family: styled;
  font-weight: normal;
  color: #363a46;
  margin: 0;
}
button {
  font-size: 1.1em;
  border-radius: 0.4em;
  padding: 0.6em 0.8em;
}
input {
  font-family: styled;
  font-size: 2.2em;
  height: 1.3em;
  width: 550px;
  padding: 10px;
  border-radius: 0.4em;
  border: 0;
  color: #ff850a;
  box-shadow: 0 0 0 0;
  border: 1px solid #fff;
}
input:focus {
  box-shadow: 0 0 0 0;
  border: 1px solid #ffb366;
}
.alert {
  width: 22em;
  border: 0;
  display: none;
}
.alert-error {
  font-family: styled;
  font-size: 2em;
  background: transparent;
  padding-left: 0;
  color: #a66a66;
}
.alert-success {
  font-family: styled;
  font-size: 2em;
  background: transparent;
  padding-left: 0;
}
.additional-line {
  margin-top: 1em;
}
.loading {
  width: 30px;
  margin-bottom: 0px;
}
.proxy-form {
  padding-top: 20px;
}
#header {
  width: 100%;
  clear: both;
}
#header:after {
  content: "";
  display: table;
  clear: both;
}
#submit-btn {
  margin-left: 5px;
  margin-bottom: 9px;
  background: #ff850a;
  border-radius: 0.4em;
  border: 0;
  outline: 0;
  padding: 10px;
  color: #fff;
  margin-left: 10px;
  width: 550px;
  cursor: pointer;
}
#submit-btn:hover {
  background: #ffc285;
  color: #555;
}
#submit-btn:active {
  box-shadow: 1px 3px 2px rgba(0,0,0,0.4) inset;
  background: #eb7500;
}
#username {
  color: #363a46;
}
#content {
  padding: 20px;
  padding-left: 60px;
}
#email-input {
  margin-bottom: 0px;
}
#forgot-password {
  display: none;
  font-family: main;
}
#logo {
  float: right;
  margin: 60px;
}
@media (max-width: 640px) {
  h1 {
    display: none;
    padding: 0 0;
  }
  .proxy-form {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .proxy-form input {
    width: 100%;
  }
  .proxy-form .loading {
    display: none;
  }
  #content {
    padding: 40px;
  }
  #logo {
    margin: 20px;
  }
  #submit-btn {
    display: inline;
    width: 100%;
    margin-left: 10px;
  }
}
