shadow()
    -moz-box-shadow: arguments
    -webkit-box-shadow: arguments
    box-shadow: arguments

text-shadow()
    -moz-text-shadow: arguments
    -webkit-text-shadow: arguments
    text-shadow: arguments

@font-face
    font-family: regulartext
    src: url('/signika-regular.ttf')


highlightcolor = #cff
textcolor = #cad1d1
shadowcolor = #2b4244
buttoncolor = #CAD1D1 + 10%

html, body
    height: 100%
    width: 100%
    padding: 0
    margin: 0
    box-sizing: border-box

html, body, h1, p
    box-sizing: border-box

body
    text-align: center
    //background-image: url('/background.png')
    shadow: inset 0 0 100px shadowcolor
    background: #545e5f

a, a:hover
    color: textcolor
    cursor: pointer

h1
    margin: 0 0 1em 0
    font-size: 1.8em
    line-height: 1.6em
    font-variant: small-caps
    color: textcolor
    text-shadow: 1px 1px shadowcolor

    span#username
        color: highlightcolor

h2
    margin-top: 0;
    font-size: 1em;
    text-transform: normal;
    font-variant: small-caps;
    color: #cff;
    -moz-text-shadow: 1px 1px #2b4244;
    -webkit-text-shadow: 1px 1px #2b4244;
    text-shadow: 1px 1px #2b4244;


.proxy-form
    padding-top: 20%
    //text-transform: uppercase

    button
        font-size: 1.1em
        border-radius: 0.4em
        padding: 0.6em 0.8em

    button#submit-btn
        margin-left 5px
        margin-bottom 9px
        display none
        background-color textcolor
        border-radius 0.4em
        border 0
        background: buttoncolor
        border: 1px solid buttoncolor - 20%
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.05)

    button#submit-btn:hover
        background: buttoncolor + 60%
        box-shadow: 0 0 8px highlightcolor

    button#submit-btn:active
        box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4) inset
        background: buttoncolor - 10%

    input
        font-size: 1.5em
        height: 1.6em
        padding: 0.2em
        border-radius: 0.4em
        background-color: textcolor
        shadow: 0 2px 2px rgba(0, 0, 0, 0.45) inset
        width: 15em
        border: 0

    input:focus
        shadow: 0 1px 1px rgba(0, 0, 0, 0.75) inset, 0 0 17px rgba(82, 168, 236, 0.9)
        background: #e2f8ff

.alert
    margin: auto
    margin-top: 1em
    padding: 1em
    width: 22em
    border: 0
    display: none

.alert-error
    shadow: 0 0 6px rgba(100, 60, 60, 0.85) inset
    background: rgba(242, 222, 222, 0.8)

.alert-success
    shadow: 0 0 6px rgba(60, 100, 60, 0.85) inset
    background: rgba(223, 240, 216, 0.8)

.additional-line
    margin-top: 1em



#forgot-password
    display: none

@media(max-width: 640px)

    body
        shadow: none 

    #content
        padding: 1em

    h1
        padding: 0 1em

    .proxy-form
        padding-top: 1em
        padding-bottom: 1em
        
        button#submit-btn
            display: inline
            width: 80%
            margin-left: 0

        input
            width: 80%

