/**
 * OnBoarding Styles
 */

@import "./base/_colors.styl"


// Icons

#password-figure
    svg
        background-color: #4dcec5


// LAYOUTS
[role=application]
    display:     flex
    min-height:  100vh
    font-family: 'Source Sans Pro', sans-serif


main
    max-width: (600/16)em
    margin:    auto
    padding:   1em


header
    figure
        margin:     0 auto 2em
        text-align: center

        a
            display: block

        svg
            width:          (72 / 16)em
            height:         (72 / 16)em
            border-radius:  50%
            padding:        1.5em
            box-shadow:     0 0 1em 0 #ccc

    h1
        margin: 0


#welcome-figure
    svg
        width:      auto
        height:     (200 / 16)em
        padding:    0
        box-shadow: none


footer
    margin-top: 2em

    ol
        margin:  .3em 0 0
        padding: 0




// FOREGROUNDS / FONTS

a
    color: $blue
    text-decoration: none


[role=region]
footer
    font-size: 1.24em



// FORMS

form
    font-size: .9em

    .line
        position: relative

        button[action="password-visibility"]
            position:   absolute
            top:        0
            right:      0

        button.icon
            background: none
            padding: .55em

            svg
                width: 1em
                height: 1em
                display: block

label
    display: block
    text-transform: uppercase
    color: $grey-07
    font-size: .9em
    padding: .55em 0

input[type=text]
input[type=password]
    display:        inline-block
    width:          100%
    padding:        0.75em 0.75em 0.9em
    border-radius:  4px
    box-sizing:     border-box;


[role=button]
button
    border:           0
    display:          block
    padding:          .55em
    border-radius:    4px
    background-color: $blue
    text-align:       center
    text-transform:   uppercase
    color:            white

.errors
    color: $red


// BREADCRUMB
footer
    button
        width: 100%

    ol
        display:         flex
        list-style-type: none

    li
        flex:             1 1 1em
        margin:           3px
        height:           3px
        border-radius:    3px
        background-color: $blue
        text-indent:      -9999em

        &:first-child
            margin-left: 0

        &:last-child
            margin-right: 0

        // mark upcoming items in grey
        &[aria-selected=true] ~ li
            background-color: $grey-02
