* {
  outline: 0;
}
*:hover {
  outline: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
h1,
p,
input,
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: #f6eee2;
  padding-top: 70px;
}
body.intro {
  background: url("/images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
a,
a:hover {
  color: #15a7c7;
  cursor: pointer;
}
a:hover {
  color: #ff850a;
}
h1 {
  font-size: 1.5em;
  line-height: 1.3em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  color: #6a6666;
  margin: 0;
}
button {
  font-size: 1.1em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0.6em 0.8em;
}
input,
select {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  height: 52px;
  width: 550px;
  padding: 4px 10px;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  color: #15a7c7;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  border: 1px solid transparent;
}
input:focus {
  color: #ff850a;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  border: 1px solid #ffb366;
  outline: none;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
}
.hidden {
  display: none;
}
#timezone-input {
  background: #fff;
}
.alert {
  width: 22em;
  border: 0;
  display: none;
}
.alert-error,
.alert-success {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3em;
  width: 100%;
  color: #fff;
  display: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0 35px 0;
}
.alert-error {
  background: #c66666;
}
.alert-success {
  background: #66c666;
}
.additional-line {
  margin-top: 1em;
}
.loading {
  width: 30px;
  margin-bottom: 0px;
}
#header {
  width: 100%;
  clear: both;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
  background: #fcf9f5;
  width: 160px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  padding-top: 8px;
}
#header img {
  width: 140px;
}
#header:after {
  content: "";
  display: table;
  clear: both;
}
#submit-btn {
  margin-left: 5px;
  margin-bottom: 9px;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  border: 0;
  outline: 0;
  padding: 7px;
  color: #fff;
  margin-left: 0px;
  width: 100%;
  cursor: pointer;
  background: #15a7c7;
  -webkit-transition: background 0.6 ease;
  -moz-transition: background 0.6 ease;
  -o-transition: background 0.6 ease;
  -ms-transition: background 0.6 ease;
  transition: background 0.6 ease;
}
#submit-btn.btn-success {
  background: #66c666;
}
.proxy-form {
  background: #fcf9f5;
  margin: auto;
  max-width: 550px;
  padding: 40px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.proxy-form input,
.proxy-form button,
.proxy-form #btn-wrapper {
  width: 100%;
}
.proxy-form.register {
  padding: 20px;
}
.proxy-form.register input,
.proxy-form.register select {
  border: 1px solid #15a7c7;
  width: 460px;
}
.input-wrapper {
  margin: 1em 0;
}
.input-wrapper.invalid input {
  border: 1px solid #f00;
}
#btn-wrapper {
  width: 550px;
}
#btn-wrapper .btn-container {
  display: inline-block;
  width: 270px;
}
#btn-wrapper .btn-container.left {
  text-align: left;
}
#btn-wrapper .btn-container.right {
  text-align: right;
}
#btn-wrapper .btn-container.center {
  text-align: center;
}
#btn-wrapper .btn-container #submit-btn {
  width: 250px;
  font-family: 'Source Sans Pro', sans-serif;
}
#btn-wrapper .btn-container.single {
  width: 100%;
}
#btn-wrapper .btn-container.single #submit-btn {
  width: 100%;
}
#btn-wrapper #btn-separator {
  display: inline-block;
  width: 10px;
}
#expand-btn {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 9px;
  color: #15a7c7;
}
#expand-btn:hover {
  color: #ff850a;
}
#reinsurance {
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}
.help {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.help i.icon {
  display: inline-block;
  height: 48px;
  width: 48px;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  background: url("/images/help.png") no-repeat center center;
}
.help .help-info {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 300px;
  background: #fff;
  padding: 5px;
  border: 3px solid #e5cba9;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}
.help .help-info .valid,
.help .help-info .invalid {
  margin-top: 5px;
}
.help .help-info .valid {
  color: #008000;
  display: none;
}
.help .help-info .invalid {
  color: #f00;
}
.help.selected i.icon,
.help:hover i.icon {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.help.selected .help-info,
.help:hover .help-info {
  display: block;
}
#submit-btn:hover {
  background: #ff850a;
}
#submit-btn:active {
  -webkit-box-shadow: 1px 3px 2px rgba(0,0,0,0.4) inset;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.4) inset;
  background: #eb7500;
}
#submit-btn:disabled {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#password-input {
  padding-left: 10px;
}
#password-input:hover {
  border: 1px solid #15a7c7;
}
#password-input:hover:active,
#password-input:hover:focus {
  border: 1px solid #ff850a;
}
#email-input {
  margin-bottom: 0px;
}
#forgot-password {
  display: none 0;
  font-family: 'Source Sans Pro', sans-serif;
}
#logo {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4em;
  color: #15a7c7;
  margin-bottom: 60px;
}
#logo span {
  display: none;
  position: absolute;
  top: 0em;
  right: 1em;
  color: #6a6666;
}
.proxy-form.error {
  text-align: left;
  font-size: 22px;
  width: 100%;
  max-width: 720px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #6a6666;
}
.proxy-form.error h1 {
  color: #6a6666;
}
.proxy-form.error a {
  color: #15a7c7;
}
.proxy-form.error a:hover {
  color: #c60;
}
@media (max-width: 840px) {
  h1 {
    padding: 10px 0;
    font-size: 21px;
    line-height: 22px;
  }
  .proxy-form {
    padding: 20px;
  }
  .proxy-form p {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .proxy-form .input-wrapper {
    padding: 0;
  }
  .proxy-form .input-wrapper input,
  .proxy-form .input-wrapper select {
    width: 100%;
  }
  .proxy-form .input-wrapper .help {
    position: static;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .proxy-form .input-wrapper .help i.icon {
    display: none;
  }
  .proxy-form .input-wrapper .help .help-info {
    position: static;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 5px;
    width: 100%;
    font-size: 14px;
  }
  .proxy-form input,
  .proxy-form select {
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 22px;
  }
  .proxy-form #reinsurance,
  .proxy-form #btn-wrapper {
    width: 100%;
  }
  .proxy-form .loading {
    display: none;
  }
  .proxy-form #btn-wrapper #btn-separator,
  .proxy-form #btn-wrapper .btn-container {
    width: 100%;
    text-align: center;
  }
  .proxy-form #btn-wrapper #btn-separator button,
  .proxy-form #btn-wrapper .btn-container button {
    width: 100%;
  }
  .alert-error,
  .alert-success {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .alert-success {
    font-size: 20px;
  }
  #content {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #content div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #header {
    width: 90px;
    height: 90px;
    padding: 5px;
  }
  #logo {
    margin: 0;
    float: left;
  }
  #logo img {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 500px) {
  body {
    padding-top: 10px;
  }
  #header {
    margin-bottom: 10px;
  }
  .proxy-form {
    padding: 10px;
  }
  .proxy-form h1 {
    font-size: 18px;
    padding: 0;
  }
  #header {
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: 0 auto 10px auto;
  }
  #logo {
    margin: 0;
    float: left;
  }
  #logo img {
    width: 50px;
    height: 50px;
  }
}


/*# sourceMappingURL=app.css.map*/