extends _base

block title
    title #{polyglot.t('error title')}


block content
    h1= polyglot.t('error headline')

    block error-content

    block error-contact
        ul
            li
                = polyglot.t('error contact forum')
                br
                a(href="https://forum.cozy.io") https://forum.cozy.io
            li= polyglot.t('error contact email')
            li= polyglot.t('error contact irc')
