label.with-input
    position relative

    input[type=text]
    input[type=password]
        @extend $reset-input
        @extend $full-width-percentage
        @extend $input-background
        @extend $border-radius-01
        @extend $box-border-bottom
        @extend $transition-sexy
        padding 1.8em 0.8em 0.8em

        &:hover
            border-color $grey-04

        &:focus
            border-color        $blue
            background-color    rgba($grey-01, 0.25)

    span:first-child
        position  absolute
        top       -1.4em
        left      0.8em
        min-width 20em      // content too short without it
        @extend   $headings-04

    .indicator
        position   absolute
        right      1em
        top        50%
        margin-top -1.1em

.checkboxes
    margin-bottom  1em

    label
        display        block
        padding-bottom 0.2em

    input
        margin-right 0.5em
