// illustrations from import section
.content-illustration
    display block
    height  48px
    width   120px
    margin  1em auto

    &.google-services
        background-image    url('../assets/img/google-services-sprite.png')
        background-position 0 0

    &.calendar-contacts
        background-image    url('../assets/img/cozy-icons-sprite.svg')
        background-position -384px 0

// google icons
.google-services-icons
    flex             none
    height           48px
    width            48px
    @extend          $marged-hz-01
    background-image url('../assets/img/google-services-sprite.png')

    &.gmail
        background-position -120px 0

    &.contacts
        background-position -216px 0

    &.calendar
        background-position -168px 0

    &.photos
        background-position -264px 0
