.popup
    position   relative
    background #ffffff
    max-width  34em
    @extend    $padded-02
    @extend    $padded-top-03
    @extend    $marged-vt-05
    @extend    $full-width-percentage
    @extend    $shadow-depth-03
    @extend    $border-radius-04

    @media (max-width: 380px)
        padding       10em 1em 2em
        margin        0
        min-height    100vh
        border-radius 0

$header-size = 96px
header
    position            absolute
    top                 -($header-size/2)
    left                50%
    margin-left         -($header-size/2)
    width               $header-size
    height              $header-size
    border-radius       100%
    background-color    #ffffff
    background-image    url('../assets/img/cozy-icons-sprite.svg')
    background-position 0 0
    @extend             $shadow-depth-01

    @media (max-width: 380px)
        top 2em

    a
        position            absolute
        width               $header-size
        height              $header-size
