@font-face {
  font-family: main;
  src: url("/fonts/signika-regular.ttf");
}
@font-face {
  font-family: styled;
  src: url("/fonts/maven-pro-light-200.otf");
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
h1,
p,
input,
div {
  box-sizing: border-box;
}
body {
  background: #fcf9f5;
}
a,
a:hover {
  color: #15a7c7;
  cursor: pointer;
}
a:hover {
  color: #ff850a;
}
h1 {
  font-size: 2.2em;
  line-height: 1.3em;
  font-family: styled;
  font-weight: normal;
  color: #363a46;
  margin: 0;
}
button {
  font-size: 1.1em;
  border-radius: 0.4em;
  padding: 0.6em 0.8em;
}
input {
  font-family: styled;
  font-size: 26px;
  height: 52px;
  width: 550px;
  padding: 4px 10px;
  border-radius: 0.4em;
  color: #15a7c7;
  box-shadow: 0 0 0 0;
  border: 1px solid transparent;
}
input:focus {
  color: #ff850a;
  box-shadow: 0 0 0 0;
  border: 1px solid #ffb366;
  outline: none;
}
p {
  font-family: main;
}
.alert {
  width: 22em;
  border: 0;
  display: none;
}
.alert-error {
  font-family: styled;
  font-size: 20px;
  background: #c66666;
  padding: 5px 10px;
  width: 550px;
  color: #fff;
}
.alert-success {
  font-family: styled;
  font-size: 2em;
  background: #66c666;
  padding: 20px;
  width: 530px;
  color: #fff;
}
.additional-line {
  margin-top: 1em;
}
.loading {
  width: 30px;
  margin-bottom: 0px;
}
.alert-error,
.alert-success {
  display: none;
  border-radius: 5px;
}
#header {
  width: 100%;
  clear: both;
}
#header:after {
  content: "";
  display: table;
  clear: both;
}
#submit-btn {
  margin-left: 5px;
  margin-bottom: 9px;
  border-radius: 0.4em;
  border: 0;
  outline: 0;
  padding: 10px;
  color: #fff;
  margin-left: 0px;
  width: 570px;
  cursor: pointer;
  background: #15a7c7;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #submit-btn {
    width: 550px;
  }
}
#submit-btn:hover {
  background: #ff850a;
}
#submit-btn:active {
  box-shadow: 1px 3px 2px rgba(0,0,0,0.40) inset;
  background: #eb7500;
}
#username {
  color: #363a46;
}
#content {
  padding: 20px;
  padding-left: 60px;
}
#email-input {
  margin-bottom: 0px;
}
#forgot-password {
  display: none;
  font-family: main;
}
#logo {
  float: right;
  margin: 40px;
}
@media (max-width: 640px) {
  h1 {
    padding: 0 0;
    font-size: 26px;
  }
  .proxy-form {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .proxy-form p {
    box-sizing: border-box;
  }
  .proxy-form .input-wrapper {
    padding-right: 20px;
  }
  .proxy-form input {
    width: 100%;
    padding: 0;
    display: block;
    box-sizing: border-box;
    font-size: 26px;
  }
  .proxy-form .loading {
    display: none;
  }
  .proxy-form .input-wrapper {
    padding: 0;
  }
  .alert-error,
  .alert-success {
    width: auto;
    box-sizing: border-box;
  }
  #content {
    padding: 40px;
    box-sizing: border-box;
  }
  #content div {
    box-sizing: border-box;
  }
  #logo {
    margin: 20px;
  }
  #submit-btn {
    display: block;
    width: 100%;
  }
}
