extends ../layouts/_error

block error-content
    p
        = polyglot.t('error reinsurance')
        br
        = polyglot.t('error temporary issue')
        br
        = polyglot.t('error try restart')
        br
        = polyglot.t('error contact cozy team')
