extends ../layouts/_error

block error-content
    p
        = polyglot.t('error not found info')
        br
        = polyglot.t('error reinsurance')
        br
        = polyglot.t('error try to fix')

    ul
        li= polyglot.t('error wait a bit')
        li= polyglot.t('error restart app')
        li= polyglot.t('error reinstall app')


block error-contact
    // empty!
