.body-background
	background-image      url('/img/background_default.jpg')
	background-color      #3569B3
	background-position   center center
	background-repeat     no-repeat
	background-attachment fixed
	background-size       cover
