$body-background
    background-image      url('../assets/img/background_default.jpg')
    background-color      #14417A
    background-position   center center
    background-repeat     no-repeat
    background-attachment fixed
    background-size       cover

$input-background
    background-color $grey-01
