// 50 shades of grey
$grey-01 = #E8F0F8
$grey-02 = #DDE6EF
$grey-03 = #C8D5DF
$grey-04 = #ACB8C5
$grey-05 = #92A0B2
$grey-06 = #748192
$grey-07 = #4F5B69
$grey-08 = #32363F

// shades of white
$white-01 = #FFFFFF
$white-02 = #F5F5F5

// more of cozy UI
$blue  = #33A6FF
$red   = #FF3713
$green = #16D943

// password strength bar
$pw-red     = #FF5D47
$pw-orange  = #FFAE5F
$pw-green   = #40DE8E
