$font
    font  1em/1.4em 'Source Sans Pro', Sans-serif
    color $grey-08

$reset-link
    text-decoration none

$low-spot
    color      $grey-05
    font-style italic

// headings
$headings-02
    font  1.2em/1.3em 'Source Sans Pro', Sans-serif
    color $grey-08

$headings-04
    font           0.85em/1em 'Source Sans Pro', Sans-serif
    text-transform uppercase
    color          $grey-05
