// paddings
$padded-01
    padding 1em

$padded-02
    padding 2em

$padded-vert-01
    padding 1em 0

$padded-top-03
    padding-top 3em

// margins
$marged-hz-01
    margin-left  1em
    margin-right 1em

$marged-hz-02
    margin-left  2em
    margin-right 2em

$marged-vt-01
    margin-top    1em
    margin-bottom 1em

$marged-vt-02
    margin-top    2em
    margin-bottom 2em

$marged-vt-05
    margin-top    5em
    margin-bottom 5em
