.step-wrapper
    header
        figure(id=id)
            if link
                a(href=link target="_blank")
                    svg: use(xlink:href=figureid)
            else
                .svg-wrapper
                    svg: use(xlink:href=figureid)

        block header

    block base-content
        include _view_step_base_content
