.my-accounts-wrapper
    iframe.my-accounts-container(src=myAccountsUrl)
    footer.my-accounts-footer
        p=t('myaccounts info')
        .controls
            a(href=next role="button" class="next")= t('myaccounts next')
