ul
    li(aria-selected=(step == 'preset'? 'true' : 'false'))
        = t('step preset')
    li(aria-selected=(step == 'import'? 'true' : 'false'))
        = t('step import')
    li(aria-selected=(step == 'email' ? 'true' : 'false'))
        = t('step email settings')
