extends _base


block header
    if public_name
        h1= t('step welcome user', {name: public_name})
    else
        h1= t('step welcome anon')

block region
    p= t('step welcome congrats')

block controls
    a(href=next role="button" class="next")= t('step welcome next')
