#import-google.content-block
    .content-illustration.google-services
    h2= t('import google account')

    p= t('import google account tip')
    a#import-google.btn.btn-primary(type="button", href="/register?step=import_google")= t('import from google')
