label(for="register-email", aria-describedby="register-email-tip")
    span email
    input#register-email(type="text")
    span.indicator
        i.fa.fa-check
p#register-email-tip
    = t('it will be used to contact you if you loose your password')


label(for="register-name", aria-describedby="register-name-tip")
    span name
    input#register-name(type="text")
    span.indicator
        i.fa.fa-check
p#register-name-tip
    = t('it will be used to contact you if you loose your password')


label(for="register-password", aria-describedby="register-password-tip")
    span password
    input#register-password(type="password")
    span.indicator
        i.fa.fa-times
p#register-email-tip
    = t('it will be used to contact you if you loose your password')


label(for="register-timezone", aria-describedby="register-timezone-tip")
    span timezone
    input#register-timezone(type="text")
    span.indicator
        i.fa.fa-check
p#register-timezone-tip
    = t('it will be used to contact you if you loose your password')


.checkboxes
    label(for="register-help-us")
        input(type="checkbox")
        span= t('help us to improve cozy')

    label(for="register-mailing")
        input(type="checkbox")
        span= t('subscribe to cozy newsletter')
