extends _view_step_base


block header
    h1= t('step welcome user', {name: username})
    a(href="#")= t('setp welcome logout', {name: username})

block region
    p= t('step welcome congrats')

block controls
    a(href="#" role="button")= t('step welcome next')
