h2= t('setup title')
p= t('setup message')

hr

h3= t('setup on mobile title')
p= t('setup on mobile message')
a(href="https://play.google.com/store/apps/details?id=io.cozy.files_client", target="_blank")
        img(src="/images/play_store.png", alt="Get it on Google Play")
