extends view_base

block region
    p(class=errors)=error
    h1=t('step password title')
    p=t('step password description')
    input(type="password", name="password")
    footer
        .controls
            button=t('step password submit')
        .progression
