extends _view_step_base


block header
    h1=t('step confirmation title')

block region
    p=t('step confirmation description')

block controls
    button(class="next")= t('step confirmation next')
